main {
    padding: 10px;
}

.precContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    padding: 10px;
}

.precItem>img {
    border-radius: 10px;
}

.precItem {
    width: 300px;
    height: 300px;
    border: 1px solid ghostwhite;
    border-radius: 10px;
    text-align: center;
}